@font-face {
    font-family: 'AONE';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AONE/AONE.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AONE/AONE.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AONE/AONE.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AONE/AONE.ttf') format('truetype');
}
